

@media (max-width: 320px) {
	.deck {
		width: 65%;
	}

	.deck .card {
		height: 4rem;
		width: 4rem;
    }
    .popup {
		width: 30%;
	}
}


@media (min-width: 700px) {
	.container {
		font-size: 22px;
	}

	.deck {
		width: 650px;
		height: 650px;
	}

	.deck .card {
		height: 120px;
		width: 120px;
	}

	.popup {
		width: 50%;
	}
}

